<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/images/s-a-g-engineering-products-120x120.jpg" type="image/x-icon">
  <meta name="description" content="">
  <title>About Us</title>
  <link rel="stylesheet" href="assets/web/assets/mobirise-icons/mobirise-icons.css">
  <link rel="stylesheet" href="assets/tether/tether.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-grid.min.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap-reboot.min.css">
  <link rel="stylesheet" href="assets/dropdown/css/style.css">
  <link rel="stylesheet" href="assets/animate.css/animate.min.css">
  <link rel="stylesheet" href="assets/socicon/css/styles.css">
  <link rel="stylesheet" href="assets/theme/css/style.css">
  <link rel="stylesheet" href="assets/mobirise-gallery/style.css">
  <link rel="stylesheet" href="assets/mobirise/css/mbr-additional.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <style type="text/css">
    body {
      font-family: 'Open Sans', sans-serif;
    }
  </style>
</head>
<body>

<section class="menu cid-r1KlkiHpMQ" once="menu" id="menu1-g" data-rv-view="372">
  <nav style="box-shadow: 0 0 10px 0 rgba(0,0,0,0.22); background-color: white;" class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger">
          <span style="background-color: #007bff;"></span>
          <span style="background-color: #007bff;"></span>
          <span style="background-color: #007bff;"></span>
          <span style="background-color: #007bff;"></span>
      </div>
    </button>
    <div class="menu-logo">
      <div class="navbar-brand">
          <span class="navbar-logo">
              <a href="#">
                   <img src="assets/images/logo-sag.jpg" alt="" title="" media-simple="true" style="height: 3.8rem;">
              </a>
          </span>
          <span style="font-weight: 500" class="navbar-caption-wrap">
            <a style="color: #007bff !important;" class="navbar-caption text-white display-5" href="/">S.A.G Engineering</a>
          </span>
      </div>
    </div>
    <div  style="font-weight: 400" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
        <li class="nav-item">
          <a style="color: #007bff !important;" class="nav-link link text-white display-4" href="/about">About Us</a>
        </li>
        <li class="nav-item">
          <a style="color: #007bff !important;" class="nav-link link text-white display-4" href="/products">Products</a>
        </li>
        <li class="nav-item">
          <a style="color: #007bff !important;" class="nav-link link text-white display-4" href="/clients">Clients</a>
        </li>
        <li class="nav-item">
          <a style="color: #f8f8f8 !important;
    background: #1e90ff;
    border-radius: 5px;
    padding-left: 10px !important;
    padding-right: 10px !important;
" class="nav-link link text-white display-4" href="/contact">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</section>

<section style="margin-top: 77px; /*background-image: url(assets/images/about.jpg);*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;" once="" class="cid-r1KDVbGyMx" id="footer6-11" data-rv-view="426" style="background-color: #f9f9f9;">
    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-2" style="color: #007bff">ABOUT US</p>
            </div>
        </div>
    </div>
</section>

<section style="background: white">
  <div class="container">
    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);background: #1e90ff;
            border-radius: 3px;color: #e9ecef;padding: 30px">
            Established in the year 2009, we, <b>"S.A.G. Engineering Products"</b>, undertake manufacturing, supplying and trading of remarkable range of Hospital Equipment and Kitchen Appliances. Fabricated by making use of supreme quality required stainless steel, this presented assortment conforms with the industry laid parameters and prevailing markets trends. To live up to the expectations of our valued customers, we design all our products with utmost prominence keeping in view their requirements. Moreover, to meet diversified demands of the clients, we offer this range in different sizes and designs that can be further customized as per the requirements of the clients. All our offered products are widely appreciated by the clients for their attributes like excellent finishing, resistance to corrosion & abrasion, high tensile strength, attractive designs, smooth edges and durability.
            <br/><br/>We are supported by a team of hardworking professionals which fosters us to accomplish all business related activities, whether it production and managerial. Our team comprises procuring agents, designers, manufacturing personnel, quality controllers, managers and administrators. All our professionals work hand in hand with a zeal to achieve all the organizational objectives in an efficient manner, thereby making us to stay ahead of the curve. Along with this, to cater to the growing requirements of our clients, we have constituted an advent infrastructure setup at Mumbai (Maharashtra, India). Spread over a wide area, this setup is segregated in multiple units such as manufacturing, designing, R & D and warehouse. This segregation enables us to execute all our business activities in an organized & expeditious manner under one roof. Along with this, to acquire complete contentment of the clients, we serve them with the fair & transparent business policies. Owing to our client-centric approaches, we have been able to garner an immense base of clients across the markets of nation.
            <br/><br/>Under the proficient guidance of, <b>"Mr. Prashant Gatkal" (Proprietor)</b> we have been able to acquire significant rate of growth in this discipline. His in-depth knowledge, commendable managerial skill and excellent leadership are the factors that have enabled us to muster a huge client-base across the nation. 
        </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Company Factsheet</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
            <table class="table table-bordered" style="color: #868e96;">
              <thead>
                <tr>
                  Basic Information
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Nature of Business</td>
                  <td>Manufacturer</td>
                </tr>
                <tr>
                  <td>Additional Business</td>
                  <td>
                    <ul>
                      <li>Trader</li>
                      <li>Supplier</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Company CEO</td>
                  <td>Prashant Gatkal</td>
                </tr>
                <tr>
                  <td>Key Customers</td>
                  <td>
                    <ul>
                      <li>Medicon International, Goa</li>
                      <li>Hiranandani Hospital, Mumbai, Maharashtra</li>
                      <li>Seven Hills Hospital, Mumbai, Maharashtra</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Registered Address</td>
                  <td>Gala No. 3, Millat Nager, Near Apex Multi Special Hospital,  Opposite Muncipal School, Link Road, Mohilly Village, Sakinaka,  Andheri (East), Mumbai - 400 072, Maharashtra.</td>
                </tr>
                <tr>
                  <td>Industry</td>
                  <td>Kitchen equipment</td>
                </tr>
                <tr>
                  <td>Total Number of Employees</td>
                  <td>Upto 10 People</td>
                </tr>
                <tr>
                  <td>Year of Establishment</td>
                  <td>2009</td>
                </tr>
                <tr>
                  <td>Legal Status of Firm</td>
                  <td>Proprietorship Firm</td>
                </tr>
                <tr>
                  <td>Proprietor Name</td>
                  <td>Mr. Prashant Gatkal</td>
                </tr>
                <tr>
                  <td>Annual Turnover</td>
                  <td>Rs. 50 Lakh - 1 Crore<br></td>
                </tr>
              </tbody>
            </table>


            <table class="table table-bordered" style="color: #868e96;">
              <thead>
                <tr>
                 Infrastructure
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Location Type</td>
                  <td>URBAN</td>
                </tr>
                <tr>
                  <td>Building Infrastructure</td>
                  <td>Permanent</td>
                </tr>
                <tr>
                  <td>Size of Premises</td>
                  <td>700 square feet</td>
                </tr>
                <!-- <tr>
                  <td>Location Photo 1</td>
                  <td><img src="assets/images/photo-4182-250x250.jpg"></td>
                </tr>
                <tr>
                  <td>Location Photo 2</td>
                  <td><img src="assets/images/photo-4187-250x250.jpg"></td>
                </tr>
                <tr>
                  <td>Location Photo 3</td>
                  <td><img src="assets/images/photo-4189-250x250.jpg"></td>
                </tr> -->
              </tbody>
            </table>

            <table class="table table-bordered" style="color: #868e96;">
              <thead>
                <tr>
                 Company USP
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Primary Competitive Advantage</td>
                  <td>
                    <ul>
                      <li>Experienced R &amp; D Department</li>
                      <li> Good Financial Position &amp; TQM</li>
                      <li> Provide Customized Solutions</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Contract Manufacturing</td>
                  <td>OEM Service Offered</td>
                </tr>
                <tr>
                  <td>Quality Measures / Testing Facilities</td>
                  <td>Yes</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered" style="color: #868e96;">
              <thead>
                <tr>
                 Statutory Profile
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Banker</td>
                  <td>BANK OF MAHARASHTRA</td>
                </tr>
                <tr>
                  <td>GST No.</td>
                  <td>27AQZPG1192J1Z9</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered" style="color: #868e96;">
              <thead>
                <tr>
                 Packaging/Payment and Shipment Details
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Customized Packaging</td>
                  <td>Yes</td>
                </tr>
                <tr>
                  <td>Payment Mode</td>
                  <td>
                    <ul>
                      <li>Cash</li>
                      <li>Cheque</li>
                      <li>RTGS</li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Shipment Mode</td>
                  <td>By Road</td>
                </tr>
              </tbody>
            </table>


        </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Company Factsheet</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             With a view of carrying out all our business activities in a streamlined manner, we have constructed a sophisticated and advent infrastructure setup at <b>Mumbai (Maharastra, India). </b>We have divided this setup into various units to ensure hassle free flow of production. Each segregated unit is installed with advanced technology based machinery and amenities that are regularly upgraded to ensure expeditious rate of production. To ensure timely delivery at the clients’ end, we have linked our setup with all major transportation modes of the city. Fostered by such advanced manufacturing unit, we are able to accomplish undertaken production projects within determined committed time-frame. <b><br>Our infrastructure setup comprises:</b> &nbsp; 
            <ul> 
              <li>Manufacturing unit</li>
              <li>Quality testing unit</li>
              <li>Warehouse</li> 
            </ul>
        </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Our Team</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             We are strengthened by a team of dexterous professionals, which enables to forge long term relation ship with our clients by providing the best-in-class <b>Food &amp; Beverage, Hospital, Home &amp; Hotel Kitchen Equipment. </b>Our team precisely designs and develops products in line with the defined parameters of the industry. They also conduct market surveys in order to comprehend emerging demands of the clients and endeavor to develop products accordingly. Along with this, entire production and marketing related activities are carried out under the supervision of our managers and administrators in an effective manner. They also ensure to maintain motivation level of other team members so as to meet organizational objectives. &nbsp; <b>Below cited are the members of our team:</b> &nbsp; 
             <ul class="l_bul"> 
                <li>Procuring agents</li> 
                <li>Manufacturing personnel</li> 
                <li>Quality controllers</li> 
                <li>Skilled workers</li> 
                <li>Managers</li> 
                <li>Administrative personnel</li> 
              </ul>
        </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Our Expertise</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             Taking in view the obstacles faced by the client in dealing with the present tool, we attempt to redesign and furnish the product to make it better in terms of efficiency and user friendliness. We also focus our attention on designing entirely new products as per the requirements. The ultimate concept lies in providing accurate products / solutions and meeting versatile confines. For instance, we came up with a whole new design to cater and replace the standard liquid samplers available in the market in the sense that liquids having varying viscosities and flows demand for distinct samplers to make the sampling more accurate. Thus, we have put forth a unique products.
          </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Our Corporate Policy</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             We have concentrated all our efforts towards attaining complete satisfaction of the clients. For the same, we practice full-proof inspection and strict adherence to various quality parameters and industry regulations. We follow stringent quality program during manufacturing process to ensure impeccability. Owing to our high ethical norms and standards, we have been able to acquire reputed stature in this industry. &nbsp; <b>Some of the key factors that define our corporate policies are:<br>&nbsp;</b> 
             <ul> 
              <li>Customer Orientation</li> 
              <li>Transparent Work Culture</li> 
              <li>Professionalism</li> 
              <li>Ethical Values</li> 
              <li>Sound Business Policies</li> 
              <li>Good Culture and Working Environment</li> 
              <li>Encourage Creativity</li> 
              <li>Responsibility</li> 
            </ul>
          </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Customization</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             Being an client centric firm, we strive to meet all the aspects clients' demands. For the same, we provide our clients with customization services as per their requirement. Our professionals design and develop products after comprehending exact requirements of the clients. They develop products by making use of high-basic stainless steel and other required basic material along with advanced technology installed at our sophisticated infrastructure setup. Consequently, making us to meet expectations of the clients. 
          </div>
      </div>
    </div>

    <div class="media-container-row content text-white">
      <div class="col-12 col-md-12" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 15px;
        font-weight: 200;">
        <h4 style="font-weight: 400;" class="text-center">Why Us?</h4>
          <div class="panel-body" style="border: 1px solid rgba(0,0,0,.1);
            border-radius: 3px;color: #575c62;padding: 30px">
             We hold all the aces in manufacturing, supplying and trading a remarkable range of <b>Food &amp; Beverage, Hospital, Home &amp; Hotel Kitchen Equipment. </b>Manufactured by making use of high-grade basic material, this range is in line with the defined parameters of the industry and prevailing market demands. Along with our product-gamut, our ethical and transparent policies have made us to acquire successful position in the market. &nbsp; <b>Following are some reasons behind our success:</b> &nbsp; 
             <ul class="l_bul"> 
              <li>Wide vendor base</li> 
              <li>Quality</li> 
              <li>Value</li> 
              <li>Proven Design</li> 
              <li>Reliability</li> 
              <li>The full line</li> 
              <li>Safety equipments</li> 
              <li>Innovation</li> 
              <li>Customization</li> 
              <li>Efficient packaging</li> 
              <li>Ability to undertake bulk orders</li> 
              <li>Timely delivery</li> 
              <li>Competitive prices</li> 
              <li>Transparent business deal</li> 
              <li>Stick adherence to quality standards and parameters of the highest order</li> 
              <li>Long and diversified domestic and global market experience</li> 
              <li>Excellent after-sales services</li> 
            </ul>
          </div>
      </div>
    </div>


  </div>
</section>

<section class="cid-r1KlkjV3rp" id="footer1-f" data-rv-view="447">
    <div class="container">
        <div class="media-container-row content text-white">
            <!-- <div class="col-12 col-md-3">
                <div class="media-wrap">
                    <a href="#">
                        <img src="assets/images/s-a-g-engineering-products-120x120.jpg" alt="" title="" media-simple="true">
                    </a>
                </div>
            </div> -->
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    ADDRESS
                </h5>
                <p class="mbr-text">G. No. 15, DK Market, Subhash Nagar, Jangleshwar Road Asalpha Village, Ghatkoper West, Survey No. 23, Ghatkopar West, Mumbai - 400086, Maharashtra, India&nbsp;</p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">
                    CONTACTS
                </h5>
                <p class="mbr-text">
                    Email: support@qwerty.com
                    <br>Phone: +91 8071806833
<br>                    Mobile:&nbsp;+91-7738693814<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  +91-9892084449 <br></p>
            </div>
            <div class="col-12 col-md-3 mbr-fonts-style display-7">
                <h5 class="pb-3">OTHER CONTACT DETAILS</h5>
                <p class="mbr-text">Branch Office<br>Rahul Gatkal<br>Mobile:
<br>  +91-9960813070<br><br>Factory
<br>Ms Reshma<br>Mobile:
<br>  +91-7738693862<br><br></p>
            </div>
        </div>
    </div>
</section>

<div class="container">
  <div class="media-container-row content text-white">
    <div class="col-12 col-md-6 text-center" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 12px;
      font-weight: 200;">© S.A.G. Engineering Products. All Rights Reserved (Terms of Use)</div>
    <div class="col-12 col-md-6 text-center" style="padding-top:10px;padding-bottom: 10px;color: #007bff;font-size: 12px;
      font-weight: 200;">
    Developed by Codesure <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </div>
  </div>
</div>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/popper/popper.min.js"></script>
  <script src="assets/tether/tether.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/smooth-scroll/smooth-scroll.js"></script>
  <script src="assets/dropdown/js/script.min.js"></script>
  <script src="assets/touch-swipe/jquery.touch-swipe.min.js"></script>
  <script src="assets/jquery-mb-ytplayer/jquery.mb.ytplayer.min.js"></script>
  <script src="assets/jquery-mb-vimeo_player/jquery.mb.vimeo_player.js"></script>
  <script src="assets/masonry/masonry.pkgd.min.js"></script>
  <script src="assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/bootstrap-carousel-swipe/bootstrap-carousel-swipe.js"></script>
  <script src="assets/viewport-checker/jquery.viewportchecker.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/mobirise-slider-video/script.js"></script>
  <script src="assets/mobirise-gallery/player.min.js"></script>
  <script src="assets/mobirise-gallery/script.js"></script>
  
  
 <div id="scrollToTop" class="scrollToTop mbr-arrow-up"><a style="text-align: center;"><i class="mbri-down mbr-iconfont"></i></a></div>
    <input name="animation" type="hidden">
  </body>
</html>