<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="favi.jpg" type="image/jpg" sizes="32x32">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

<style type="text/css">
  .nav-tabs > li {
    float:none;
    display:inline-block;
    zoom:1.4;
}

.nav-tabs {
    text-align:center;
}
</style>
</head>

<body class="style-1">

<div class="container-fluid">
    <div class="row">
    <h1 class="text-center contit">Login</h1>
    <hr>

    <form action="/session-access" method="post">
       <div class="col-sm-6 col-md-4 col-md-push-4">
         <div class="form-group"> 
       <label for="full_name_id" class="control-label">Username</label>
       <input type="text" class="form-control" name="username" placeholder="Enter Username" required>
     </div>
     <br>
      <div class="form-group"> 
       <label for="full_name_id" class="control-label">Password</label>
       <input type="password" class="form-control" name="pass" placeholder="Enter your password" required>
     </div>
     <br>
       </div>

       <div class="col-sm-12 text-center">
       <button class="btn btn-lg btn-info">Submit</button>
       </div>
    </form>




    <form action="/passwordchange" method="post">
      <div class="col-sm-6 col-md-4 col-md-push-4">
          <div class="form-group"> 
              <label for="full_name_id" class="control-label">User Name</label>
              <input type="text" class="form-control" name="username" placeholder="Enter username" required>
            </div>
            <br>
        <div class="form-group"> 
      <label for="full_name_id" class="control-label">Current Password</label>
      <input type="text" class="form-control" name="currentpass" placeholder="Enter Old Password" required>
    </div>
    <br>
     <div class="form-group"> 
      <label for="full_name_id" class="control-label">New Password</label>
      <input type="password" class="form-control" name="newpass" placeholder="Enter New password" required>
    </div>
    <br>
    
      </div>

      <div class="col-sm-12 text-center">
      <button class="btn btn-lg btn-info">Submit</button>
      </div>
   </form>

   </div>
</div>








<div id="myModal" class="modal fade" tabindex="-1" data-keyboard="true" data-interval="false" id="lb-gallery2-h" style="padding-right: 0px !important;">
    <div class="modal-dialog" style="max-width: 900px">
        <div class="modal-content">
            <div class="modal-body">
               <div class="row">
                    <div class="col-sm-12" style="text-align: center; font-size: 30px;padding-bottom: 20px;">Invalid Username/Password </div>
                   
                    
                  </div>
                <form>
                    <div class="row" style="padding-bottom: 50px">
                       
                      
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- <a class="btn display-4 btn-primary" href="#" style="display;none"  data-toggle="modal" data-target="#myModal"></a> -->

  <%if(invalid){%>
  <script>
    console.log("hello");
    $('#myModal').modal('show');
</script>
<%}%>

</body>
</html>